@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secocndary-color: white;
  --cart_bg: rgb(225, 225, 225);
  --color: black;
  --primary-color: rgb(213, 227, 215);
}
[data-theme="dark"] {
  --secocndary-color: rgb(20, 28, 30);
  --cart_bg: rgb(93, 92, 92);
  --color: white;
  --primary-color: rgb(74, 74, 74);
}

*,
:before,
:after {
  margin-inline: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1536px;
}

html,
body {
  max-width: 1536px;
  width: 100vw;
  background-color: rgb(246, 246, 246);
  margin-inline: auto;
  overflow-x: hidden;
}

.information {
  padding: 0.5rem;
  overflow-x: visible;
}
.information::-webkit-scrollbar {
  display: none;
}
.branding {
  height: inherit;
  width: 100%;
  background-image: url("../../public/images/bg1.jpg");
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
}
.topReview {
  display: flex;
  overflow-x: scroll;
  padding-block: 7rem;
  padding-inline: 3rem;
  margin: 0;
  width: max-content;
  scroll-padding-inline-end: 0;
  background-color: rgb(226, 226, 226);
}
.topReview::-webkit-scrollbar {
  display: none;
}
.cartinfo div {
  width: 20vw;
  text-align: center;
}

.catmenu {
  display: none;
}
.imga {
  object-fit: cover;
  transition: 1s;
}
.imga:hover {
  height: 90%;
}
.image-product::-webkit-scrollbar,
.category-display::-webkit-scrollbar {
  display: none;
}
.step {
  width: 25%;
  text-align: center;
}
ul li {
  @apply w-[65%] lg:w-max my-4;
}
.signIn {
  @apply bg-white w-full md:w-[50%] lg:w-[30%] flex flex-col shadow-xl rounded-xl my-5 p-8;
}
.signIn input {
  @apply border p-3 mx-4 rounded-md shadow-inner outline-none;
}
.signIn label {
  @apply w-[90%];
}
.loginbtn div {
  @apply active:bg-gray-400 m-1 border p-2;
}
.icons-cont div {
  @apply md:mt-8 lg:mt-0;
}
.oauth button {
  background-color: rgb(60, 59, 59);
}
.oauth button:hover {
  transition: 1s;
  background-color: rgb(91, 90, 90);
}
.checkout-form label {
  @apply w-[95%] mt-4;
}
.checkout-form input {
  @apply p-3 md:rounded-md border shadow-inner;
}
.items-related {
  @apply flex flex-wrap justify-center md:flex-nowrap md:overflow-scroll my-12 md:w-[85%];
}
.items-related::-webkit-scrollbar {
  display: none;
}
.deliveryInfo div {
  @apply m-0 w-full text-left flex gap-7;
}
.deliveryInfo div b {
  @apply m-0 w-[25%];
}
.deliveryInfo div span {
  @apply m-0 w-[75%];
}
.itemsTable {
  @apply w-full;
}
table {
  @apply w-full text-center mt-5;
}

table thead th {
  @apply bg-zinc-800 text-white p-2;
}
table tbody tr td {
  @apply p-2;
}
table tbody tr:nth-child(even) {
  @apply bg-zinc-300;
}
table tbody tr:last-of-type {
  @apply border-b-zinc-900 border-b-4;
}
.payment input {
  @apply shadow-sm m-3 border border-zinc-500 p-2 rounded-lg w-[90%];
}
.infoPay::-webkit-scrollbar {
  @apply hidden;
}
.itemPurchesed {
  @apply w-full md:w-[60%] h-[70vh] overflow-y-scroll mt-6 md:mt-0;
}
.textNB {
  @apply md:w-[35%] border shadow-inner p-6 overflow-y-scroll h-[30vh] md:h-auto;
}
.itemPurchesed::-webkit-scrollbar,
.textNB::-webkit-scrollbar {
  display: none;
}
.orderNav {
  @apply w-full flex;
}
.orderNav li {
  @apply w-max mx-2 rounded-lg text-white bg-purple-800 p-3 cursor-pointer active:bg-purple-900;
}
.adminNav {
  @apply border md:w-[25%] flex md:flex-col items-center;
}
.productADDEDit {
  @apply flex flex-col lg:w-[50%] justify-between items-center;
}
.productADDEDit span {
  @apply w-full bg-zinc-200 flex m-2 p-2 gap-3;
}
.productADDEDit input {
  @apply w-full bg-transparent;
}
.productdisplay {
  @apply w-full md:w-[80%] h-[80vh] overflow-y-scroll md:mt-2;
}
.productdisplay::-webkit-scrollbar {
  display: none;
}

/* ****************************************** */
